/* BEM - Bloque Elemento Modificador */
/* .block__element--modifier */
:root {
  --color-primario: #d8e439;
  --color-secundario: #f5f5f5;
  --gradient-circulo: radial-gradient(at left top, #FFC900, #EB7B00);
  --primer-degradado-circulo: #FFC900;
  --segundo-degradado-circulo: #FFAB00;
  --tercer-degradado-circulo: #EB7B00;
  --background-color-inicio: #1a1a1ad0;
}

@font-face {
  font-family: 'Sotokaromi Bold';
  src: url(../fonts/SotokaromiBold.otf) format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'MyriadPro Regular';
  src: url(../fonts/myriad_pro/MYRIADPRO-REGULAR.OTF) format('opentype');
  font-weight: bold;
}

.inicio {
  display: flex;
  flex-direction: row;
  background-image: url("../public/img/inicio.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position-y: -50vh;
}

.inicio__seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 25vw;
  background: var(--background-color-inicio);
  color: white;
}

.inicio__titulo {
  margin-top: 0;
  font-size: 3em;
  font-family: 'Sotokaromi Bold';
}

.inicio__parrafo{
  width: 20vw;
  line-height: 1.8em;
  font-family: 'MyriadPro Regular';
  font-size: 1.1em;
}

.inicio__titulo,
.inicio__parrafo{
  margin-left: 5vw;
}

/* DERECHA */

.inicio__bicicleta {
  position: relative;
  width: 75vw;
  height: 90vh;
  background-color: var(--background-color-inicio);
}

.inicio__bicicleta-circulo {
  display: block;
  width: 38vw;
  height: 38vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--gradient-circulo);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.inicio__bicicleta-img {
  width: 55vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(1px 1px 100px #fafafa);
  -webkit-filter: drop-shadow(1px 1px 100px #fafafa);
  z-index: 1000;
}

