/* BEM - Bloque Elemento Modificador */
/* .block__element--modifier */
:root {
  --color-primario: #d8e439;
  --color-secundario: #f5f5f5;
  --gradient-circulo: radial-gradient(at left top, #FFC900, #EB7B00);
  --primer-degradado-circulo: #FFC900;
  --segundo-degradado-circulo: #FFAB00;
  --tercer-degradado-circulo: #EB7B00;
  --background-color-inicio: #1a1a1ad0;
}

@font-face {
  font-family: 'Swiss721 BT';
  src: url(../fonts/swiss721/Swiss-721-BT.ttf) format('opentype');
}

@font-face {
  font-family: 'DINPro Regular';
  src: url(../fonts/DIN2014-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Sotokaromi Bold';
  src: url(../fonts/SotokaromiBold.otf) format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'MyriadPro Regular';
  src: url(../fonts/myriad_pro/MYRIADPRO-REGULAR.OTF) format('opentype');
  font-weight: bold;
}

/* --------------------------- INICIO --------------------------- */

.inicio {
  display: flex;
  flex-direction: row;
  background-image: url("../public/img/inicio/inicio.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position-y: -50vh;
}

.inicio__seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 25vw;
  background: var(--background-color-inicio);
  color: white;
}

.inicio__titulo {
  margin-top: 0;
  font-size: 3em;
  font-family: 'Sotokaromi Bold';
}

.inicio__parrafo{
  width: 20vw;
  line-height: 1.8em;
  font-family: 'MyriadPro Regular';
  font-size: 1.1em;
}

.inicio__titulo,
.inicio__parrafo{
  margin-left: 5vw;
}

/* DERECHA */

.inicio__bicicleta {
  position: relative;
  width: 75vw;
  height: 90vh;
  background-color: var(--background-color-inicio);
}

.inicio__bicicleta-circulo {
  display: block;
  width: 38vw;
  height: 38vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--gradient-circulo);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.inicio__bicicleta-img {
  width: 55vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(1px 1px 100px #fafafa);
  -webkit-filter: drop-shadow(1px 1px 100px #fafafa);
  z-index: 1000;
}

/* --------------------------- PRODUCTOS --------------------------- */

.productos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* position: relative; */
}

.productos__texto-fondo{
  position: absolute;
  font-family: 'Swiss721 BT';
  text-transform: uppercase;
  font-size: 18vw;
  color: #EB5500;
}

.productos__imagen-fondo {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}


.productos__items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98.8vw; /* Todo: Revisar, debería ser un width que se ajuste perfectamente al ancho visible, sin incluir la barra de navegación vertical */
  height: 100vh;
  background: linear-gradient(to right, #ffc800cc, #eb7900ef)
}

.productos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 90vh;
  filter: contrast(15%) brightness(35%);
  -webkit-filter: contrast(15%) brightness(35%);
  font-family: 'Sotokaromi Bold';
  font-size: 2em;
  z-index: 1000;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.productos__item:hover {
  background-color: rgba(255, 255, 255, 0.24);
  filter: contrast(100%) brightness(100%);
  -webkit-filter: contrast(100%) brightness(100%);
  color: white;
  transition: background-color 0.3s 0.1s;
  transition: filter 0.3s ease-in-out;
  transition: color 0.5s 0s;
  -webkit-transition: filter 0.3s ease-in-out;
  -moz-transition: filter 0.3s ease-in-out;
  -ms-transition: filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
}

.productos__item img {
  width: 15vw;
  height: 15vw;
  margin-bottom: 1em;
}

.productos__item img:hover {
  /* filter: drop-shadow(1px 1px 100px #fafafa); */
}