* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* background-color: red; */
}

/*------------------------------------ VARIABLES ---------------------------------------*/

:root{
--alto-menu: 10vh;
--color-menu: #FDD106;
}

/*------------------------------------ FUENTES ---------------------------------------*/

@font-face {
  font-family: 'Aileron Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Aileron Regular'), url('../fonts/Ailerons-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'DIN2014 Regular';
  font-style: normal;
  font-weight: normal;
  src: local('DIN2014 Regular'), url('../fonts/DIN2014-Regular.woff') format('opentype');
}

@font-face {
  font-family: 'DIN2014 DemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('DIN2014 DemiBold'), url('../fonts/DIN2014-DemiBold.woff') format('opentype');
}

@font-face {
  font-family: 'DIN2014 ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('DIN2014 ExtraBold'), url('../fonts/DIN2014-ExtraBold.woff') format('opentype');
}

/*------------------------------------ CSS PARA MENU ---------------------------------------*/

.menu-principal{
  position: relative;
  display: flex;
  flex-direction: row;
  place-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(24, 24, 24);
  height: var(--alto-menu);
  min-height: 55px;
}

.menu-principal__ul{
  width: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center;
  height: var(--alto-menu);
}

.menu-principal__item{
  display: flex;
  flex-direction: row;
  width: max-content;
}

.menu-principal__item__a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'DIN2014 DemiBold';
  text-transform: uppercase;
  text-decoration: none;
  
  height: var(--alto-menu);
  color: var(--color-menu);
  padding: 0em 1.5em;
  font-size: 0.9em;
  text-align: center;
}


/* ---------- HEADER Y LOGO ---------------- */

.menu-principal__logo{              /* HEADER */
  margin-left: 1em;
}

.menu-principal__logo__img{
  width: 10em;
}

.menu-principal__item:nth-child(3) a{
  color: rgb(179, 179, 179);
}


/* -------------------------------- EFFECT HOVER --------------------------------------------- */

.menu-principal__item__a{
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.menu-principal__item__a:hover,
.menu-principal__item:nth-child(3) a:hover
{
  color: #0f3d66;
  background: var(--color-menu);
  box-shadow: 0 0 1px var(--color-menu), 0 0 5px var(--color-menu), 0 0 80px var(--color-menu);
  transition-delay: 0.1s;
}

.menu-principal__item:nth-child(3) a:hover{
    color: rgb(75, 75, 75);
    background: #eee241;
}